# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
pd.__version__

'0.24.1'

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
dict = {
    'evolution':['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'], 
    'hp': [45, 39, 44, 45], 
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'], 
    'pokedex': [True, False, True, False], 
    'type': ['grass', 'fire', 'water', 'bug']
       }

### Step 3. Assign it to a variable called

In [4]:
poke = pd.DataFrame(dict)
poke

    evolution  hp        name  pokedex   type
0     Ivysaur  45   Bulbasaur     True  grass
1  Charmeleon  39  Charmander    False   fire
2   Wartortle  44    Squirtle     True  water
3     Metapod  45    Caterpie    False    bug

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
poke = poke[['name', 'type', 'hp', 'evolution', 'pokedex']]
poke

         name   type  hp   evolution  pokedex
0   Bulbasaur  grass  45     Ivysaur     True
1  Charmander   fire  39  Charmeleon    False
2    Squirtle  water  44   Wartortle     True
3    Caterpie    bug  45     Metapod    False

### Step 5. Add another column called place, and insert what you have in mind.

In [10]:
if 'place' not in poke.columns:
    poke['place'] = ['A', 'B', 'C', 'D']
poke

         name   type  hp   evolution  pokedex place
0   Bulbasaur  grass  45     Ivysaur     True     A
1  Charmander   fire  39  Charmeleon    False     B
2    Squirtle  water  44   Wartortle     True     C
3    Caterpie    bug  45     Metapod    False     D

### Step 6. Present the type of each column

In [12]:
poke.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex        bool
place        object
dtype: object

### BONUS: Create your own question and answer it.